{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 style="font-weight: bold; text-align: left;"><font face="Source Sans Pro">{{ .Title }}</font></h1>
        <p>
        <div class="post-single-content">
          <h3 style="text-align: left">{{ .Description}}</h3>
          <p>
        </div>
        
       
        <img class="img-fluid mb-50 lozad" style="margin-bottom: 0px;"data-src="{{ .Params.Image | absURL }}" alt="blog-image">
      </div>
      
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
