<div class="container-all" style="margin:auto; padding-top: 20px; border-radius: 10px; width: 70%">
    <input type="radio" id="1" name="image-slide" hidden/>
    <input type="radio" id="2" name="image-slide" hidden/>
    <input type="radio" id="3" name="image-slide" hidden/>

    <div class="slide" style="max-width: 101%;">
        
        <div class="item-slide" style="position: relative; display: inline-block; background-color: black;">
            <!--<a href="/politica/politica3"></a>-->
            <!--<img src="images/slider/img1.jpg">-->
            {{ range first 1 (where site.RegularPages "Section" "==" "slider1")}}
            <a href="{{ .Permalink }}">
                <img class="img-fluid lozad"  style="object-fit: cover;opacity: 60%;width:100%;" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
                <div class="texto-encima" style="position: absolute; bottom: 0; right: 1rem;"><h1><font face="Source Sans Pro">{{ .Title }}</font></h1></div>
            </a>  
            {{ end }}
  
        </div>

        <div class="item-slide" style="position: relative; display: inline-block;background-color: black;">
            <!--<a href="/politica/politica2">
                <img src="images/slider/img2.jpg">
                <div class="texto-encima" style="position: absolute; bottom: 0; right: 1rem"><h1>Messi se va del Barcelona</h1></div>
            </a>-->

            {{ range first 1 (where site.RegularPages "Section" "==" "slider2")}}
            <a href="{{ .Permalink }}">
                <img class="img-fluid lozad" style="object-fit: cover; width:100%; height: 40vw;opacity: 60%;" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
                <div class="texto-encima" style="position: absolute; bottom: 0; right: 1rem;"><h1><font face="Source Sans Pro">{{ .Title }}</font></h1></div>
            </a>  
            {{ end }}
        </div>

        <div class="item-slide" style="position: relative; display: inline-block;background-color: black;">
            <!--<a href="/politica/politica1">
                <img src="images/slider/img3.jpg">
                <div class="texto-encima" style="position: absolute; bottom: 0; right: 1rem"><h1>Messi se va del Barcelona</h1></div>
            </a>-->

            {{ range first 1 (where site.RegularPages "Section" "==" "slider3")}}
            <a href="{{ .Permalink }}">
                <img class="img-fluid lozad" style="object-fit: cover; width:100%; height: 40vw; opacity: 60%;" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
                <div class="texto-encima" style="position: absolute; bottom: 0; right: 1rem;"><h1><font face="Source Sans Pro">{{ .Title }}</font></h1></div>
            </a>  
            {{ end }}
        </div>

    </div>

    <div class="pagination">

        <label class="pagination-item" for="1">
            <!--<img src="images/slider/img1.jpg">-->
            {{ range first 1 (where site.RegularPages "Section" "==" "slider1")}}
            <img class="img-fluid lozad" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
            {{ end }}
        </label>

        <label class="pagination-item" for="2">
            <!--<img src="images/slider/img2.jpg">-->
            {{ range first 1 (where site.RegularPages "Section" "==" "slider2")}}
            <img class="img-fluid lozad" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
            {{ end }}
        </label>

        <label class="pagination-item" for="3">
            <!--<img src="images/slider/img3.jpg">-->
            {{ range first 1 (where site.RegularPages "Section" "==" "slider3")}}
            <img class="img-fluid lozad" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
            {{ end }}
        </label>

    </div>

</div>