{{ define "main" }}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK7TJW4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


{{ partial "navigation.html" . }}

{{ partial "slider.html"}}



<!--{{ partial "banner.html" . }}-->

{{ partial "blog.html" . }}

{{ partial "politica.html"}}

{{ partial "economia.html"}}

{{ partial "sociedad.html"}}

{{ partial "deporte.html"}}

{{ partial "espectaculos.html"}}

<!--{{ partial "about.html" . }}-->

<!-- PARTE DE DESCRIPCION {{ partial "feature.html" . }}-->

<!-- Banner promocional {{ partial "cta.html" . }} -->

<!--{{ partial "service.html" . }}-->

<!--{{ partial "skill.html" . }}-->

<!--{{ partial "portfolio.html" . }}-->

<!--{{ partial "funfacts.html" . }}

{{ partial "team.html" . }}-->

<!--{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}-->

<div style="position: fixed;width: 10%;height: 12%">
    <a class="clima" target="_blank">
        <!-- weather widget start --><a target="_blank" href="https://hotelmix.es/weather/buenos-aires-18250"><img src="https://w.bookcdn.com/weather/picture/1_18250_1_4_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=582&anc_id=90989"  alt="booked.net"/></a><!-- weather widget end -->
    </a>
</div> 
  
{{ partial "contact.html" . }}

<!--{{ partial "map.html" . }}-->

{{ end }}