{{ define "main" }}

<aside class="col-lg-4 order-1 order-lg-2" style="float: right; margin-top: 50px">
  {{ "<!-- categories -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h4 class="mb-4">Comisiones</h4>
    <ul class="list-unstyled">
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamos 1.1</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3"> Reclamo 1.2</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 2.1</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 2.2</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 2.3</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 3.1</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 3.2</a></li>
      <li class="border-bottom"><a href="#" class="d-block pb-3 mt-3">Reclamo 3.3</a></li>

    </ul>
    <h4 class="mb-4">Otros titulos de Interes</h4>
    <ul class="list-unstyled">
      <li class="border-bottom"><a href="../autoridades" class="d-block pb-3 mt-3">Autoridades</a></li>
      <li class="border-bottom"><a href="../comisiones" class="d-block pb-3 mt-3">Comisiones</a></li>
      <li class="border-bottom"><a href="../blog" class="d-block pb-3 mt-3">Noticias</a></li>
      
    </ul>
  </div>
  
</aside>
<!-- notice details -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <!-- notice content -->
          <div class="content">
            <form action="mailto:aminsfarina@gmail.com" method="post" enctype="text/plain">
              <h2>Reclamo 1</h2>
              <p>Nombre <input type="text" name="nombre"/>
                  Apellido: <input type="text" name="apellido" size="25"/>
              </p>
              <p>Direccion: <input type="text" name="Direccion" size="50" value="calle, numero y piso"/></p>
              <p>Email: <input type="text" name="email" size=" @ "/></p>
              <p>Sexo
                <input type="radio" name="sexo" value="h"/>Hombre<br/>
                <input type="radio" name="sexo" value="m"/>Mujer<br/>
                <input type="radio" name="sexo" value="p"/>Prefiero no decirlo
              </p>
              <p>Razon del Reclamo
                <input type="radio" name="reclamo" value="1" checked="checked"/>Reclamo 1</br>
                <input type="radio" name="reclamo" value="2" />Reclamo 2</br>
                <input type="radio" name="reclamo" value="3" />Reclamo 3</br>
                <input type="radio" name="reclamo" value="4" />Reclamo 4</br>
              </p>
              <p><select name="reclamo2">
                <option>Reclamo 1</option>
                <option>Reclamo 2</option>
                <option>Reclamo 3</option>
                <option>Reclamo 4</option>
              </select></p>
              <p>Mardar archivo: <input type="file" name="archivo"/></p>
              <p><textarea name="descripcion: " rows="5" cols="50"> Descripcion del reclamo</textarea></p>
              <p><input type="submit" value="Enviar"/></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>

<!-- /notice details -->

{{ end }}

